.docker {
  display: flex;
  height: var(--bottom-navs-height);
  justify-content: space-evenly;
  position: relative;
  z-index: 10;
  background-color: white;
  box-shadow: 0 -0.5rem 0.5rem rgba(0, 0, 0, 0.05);
  margin: 0 0.5rem;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}

.bottom-nav {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 100%;
  font-size: 1.5rem;
  color: #969696;

  &:hover {
    color: black;
  }

  &:nth-child(2) {
    margin-right: 2rem;
  }

  &:nth-child(3) {
    margin-left: 2rem;
  }
}

.btn-create-todo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  top: calc(0% - 2rem);
  left: calc(50% - 2rem);
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.15);
  background-color: white;
  border: 0;
  z-index: 2;
  padding: 0.1rem;

  &:after {
    display: block;
    content: '';
    position: absolute;
    left: -1rem;
    right: -1rem;
    bottom: -1rem;
    top: 50%;
    background-color: white;
    z-index: 1;
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    border-radius: 50%;
    width: calc(100% - 0.2rem);
    height: calc(100% - 0.2rem);
    background-color: var(--theme-primary-color);
    font-size: 2rem;
    transition: all 0.4s ease;
    &:hover {
      transform: rotate(180deg);
    }
  }
}
